html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

#game {
  width: 900px;
  height: 400px;
  border: 2px solid #321c16;
  position: relative;
  overflow: hidden;
  background-image: url(Landscape.gif);
  background-size: cover;
  background-position: 0px -80px;
  margin-top: 50px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

#frog {
  width: 100px;
  height: 100px;
  background-image: url(frog-run-stable.png);
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50px;
  transition: transform 0.15s ease;
}

#frog.pop {
  transform: scaleX(1.2) scaleY(0.8) translateY(20px);
}

#frog.sunset {
  filter: hue-rotate(320deg) brightness(1.2);
}

#frog.night {
  filter: hue-rotate(160deg) brightness(0.8);
}

#obstacle {
  width: 80px;
  height: 160px;
  background-image: url(obstacle.png);
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 1200px;
  border-radius: 3px;
}

#score {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  color: #321c16;
  font-family: Pixelify Sans, sans-serif;
  font-weight: 900;
  transition: font-size 0.3s ease;
}

#score.pop {
  font-size: 25px;
}

#start-message {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

#gameover {
  display: none;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  width: 60%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.7);
  border: white 3px solid;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
  z-index: 9999;
  backdrop-filter: blur(5px);
  font-family: Pixelify Sans, sans-serif;
}

#controls {
  color: white;
  font-family: Pixelify Sans, sans-serif;
  width: 900px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 300px;
}

#start-tip {
  text-align: center;
  color: white;
  font-family: Pixelify Sans, sans-serif;
}

#start-tip-controls {
  text-align: center;
  color: white;
  font-family: Pixelify Sans, sans-serif;
}

#sound {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  user-select: none;
  cursor: pointer;
  background-image: url(Soundmuted.png);
  background-size: cover;
  image-rendering: pixelated;
}
